body {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    background: url('https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: repeat;
    color: #000;
    counter-reset: count;
    position: relative;
    margin: 0;
}

.hidden {
    display: none !important;
}

.reveal {
    visibility: visible !important;
}

.overlay::before {
    content: "X";
    display: block;
    position: absolute;
    top: 50px;
    right: 100px;
    cursor: pointer;
}

.overlay > span {
    width: 330px;
    text-align: center;
    font-weight: bold;
}

.overlay > span > span {
    font-size: 20px;
    display: block;
}

.overlay img {
    width: 200px;
}

ul {
    margin: 0 0 200px 0;
    padding: 0 150px;
    top: 10%;
    left: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    text-align: center;
    display: inline-block;
    list-style: none;
    position: relative;
    border: solid 12px #fff;
    background: #fff;
    box-shadow: 0 0 15px 0 #555;
    transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    top: 50px;
}

li:hover {
    top: 0;
    opacity: 0.5;
}

li:nth-child(5n+1) {
    transform: rotate(10deg);
}

li:nth-child(5n+2) {
    transform: rotate(0deg);
}

li:nth-child(5n+3) {
    transform: rotate(-10deg);
}

li:nth-child(5n+4) {
    transform: rotate(20deg);
}

li:nth-child(5n) {
    transform: rotate(-20deg);
}

li img {
    max-width: 700px;
    height: 520px;
    object-fit: cover;
}

li:nth-child(5) {
    height: 460px;
}

li:nth-child(5) img {
    object-fit: contain;
    height: 361px;
}

li p {
    margin: -15px 0 0;
    height: 100px;
    position: relative;
}

li p::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    counter-increment: count;
    content: "#" counter(count);
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.mot-final {
    visibility: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-bottom: 200px;
    font-weight: bold;
    font-size: 60px;
}

@media screen and (max-width: 768px) {
    li img {
        width: 300px;
        height: auto;
    }

    li:nth-child(5) {
        height: 230px;
    }

    li:nth-child(5) img {
        height: 151px;
    }

    li p {
        height: 70px;
    }

    .overlay::before {
        top: 30px;
        right: 30px;
    }

    .overlay > span {
        padding: 0 20px;
    }
}